<header>
    <div class="flex items-center max-w-6xl w-full text-justify ml-auto mr-auto pl-20 pr-20 relative">
        <a href="index.html" class="flex flex-col items-center gap-1.5 relative z-10 before:absolute before:left-1/2 before:top-1/2 before:-translate-1/2 before:size-66 before:bg-blue-100 before:rounded-full before:-z-9 before:shadow-md">
            <img src="/assets/img/logo.png" alt="logo">
            <p class="text-sm">healthy ration</p>
        </a>

        <nav
            class="flex bg-blue-100 py-1.5 -ml-5 pl-20 pr-5 shadow-md rounded-full mx-5">
            <a class="text-sm px-5 py-2.5 hover:text-green-400 focus:text-green-400 active:text-green-600" href="#">Програмы питания</a>
            <a class="text-sm px-5 py-2.5 hover:text-green-400 focus:text-green-400 active:text-green-600" href="#">Бизнес-ланчи</a>
            <a class="text-sm px-5 py-2.5 hover:text-green-400 focus:text-green-400 active:text-green-600" href="#">Gastro Shop</a>
            <a class="text-sm px-5 py-2.5 hover:text-green-400 focus:text-green-400 active:text-green-600" href="#">О нас</a>
            <a class="text-sm px-5 py-2.5 hover:text-green-400 focus:text-green-400 active:text-green-600" href="#">Блог</a>
        </nav>

        <a class="text-green-400 border-blue-100 bg-blue-100 border-3 rounded-4xl py-2.25 px-6.75 font-bold text-xl shadow-md hover:text-blue-100 hover:bg-green-400" href="tel:+380689494919">+38 (068) 949 - 49 - 19</a>
        <nav class="absolute top-28 left-84 flex gap-3.75">
            <a href="#" class="flex bg-green-400 text-blue-300 rounded-full shadow-md justify-center items-center size-8.75 text-[15px] uppercase hover:bg-green-400 hover:text-blue-300">ru</a>
            <a href="#" class="flex bg-blue-100 rounded-full shadow-md justify-center items-center size-8.75 text-[15px] uppercase hover:bg-green-400 hover:text-blue-300">ua</a>
            <a href="#" class="flex bg-blue-100 rounded-full shadow-md justify-center items-center size-8.75 text-[15px] uppercase hover:bg-green-400 hover:text-blue-300">en</a>
        </nav>
    </div>
</header>